.bianco{
color: #fefefe;
}

.lilla {
background-color: #c8a2c8;
border-color: #000;
}

.allerta {
	background-color: #f4ebdd;
	border-color: #000;
	color: #000;
}

.laterale {
background-color: #dcdde0;
padding: 1%;
text-align: center
}

.principale {
	padding: 5%; 
}

.fondo {
	padding: 2%;
	background-color: #c8a2c8;
	text-align: center
}

.rwd-video {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
}
.rwd-video iframe,
.rwd-video object,
.rwd-video embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
